@import "./app.scss";
@import "./ezpsy-menu.scss";

.ats_ezpsy_container {
    width: calc($APPWidth - $EzpsyMenuWidth) !important;
    margin: auto !important;
    left: $EzpsyMenuWidth !important;
}

.ats_full_container {
    width: 100%;
    height: 100%;
}

.ats-tip-popup {
    width: 400px !important;
    height: auto !important;
}
.ats-input-popup {
    width: 400px !important;
    height: auto !important;
}
.ats-msg-popup {
    width: 800px !important;
    height: auto !important;
}

.ats-img-popup {
    width: 1000px !important;
    max-height: 800px !important;
}
.ats-img-htmlContainer {
    width: 1000px !important;
    max-height: 600px !important;
    display: table-cell !important;
    vertical-align: middle;
    margin: 10px 0 0 0 !important;
}
// tip
.ats-tip-popup {
    padding: 0 !important;
    padding: 10px 0 !important;
}
.ats-tip-htmlContainer{
    margin: 0 !important;
    overflow: visible !important;
}

// input
.ats-input-popup {
    padding: 0 !important;
    padding: 10px 0 !important;
}
.ats-input-htmlContainer{
    margin: 0 !important;
    overflow: visible !important;
}
.ats-close-button {
    width: 20px !important;
    height: 20px !important;
    margin-right: 2.5% !important;
}

.ats-close-button:focus {
    box-shadow: none !important;
}

.ats-actions {
    width: 150px !important;
    justify-content: space-around !important;
    z-index: 0 !important;
    margin-top: 15px !important;
}

.ats-confirm-button {
    font-size: 18px !important;
    width: 60px !important;
    height: 35px !important;
    border: 2px solid !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    background: #005795 !important;
    color: #ffffff !important;
    border-color: #005795  !important;
}

.ats-confirm-button:focus {
    box-shadow: none !important;
}

.ats-confirm-button:hover {
    background: #ffffff !important;
    color: #005795 !important;
    border-color: #005795 !important;
}

.ats-cancel-button {
    font-size: 18px !important;
    width: 60px !important;
    height: 35px !important;
    border: 2px solid !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    background: #888888 !important;
    color: #ffffff !important;
    border-color: #888888 !important;
}

.ats-cancel-button:focus {
    box-shadow: none !important;
}

.ats-cancel-button:hover {
    background: #ffffff !important;
    color: #888888 !important;
    border-color: #888888 !important;
}

$ATS-Loader-box-size: 40px;
$ATS-Loader-circle-size: calc(0.8 * $ATS-Loader-box-size);
$ATS-Loader-item-size: 0.1 * $ATS-Loader-box-size;
$ATS-Loader-item-deg: 45deg;
$ATS-Loader-radius: 0.5 * $ATS-Loader-circle-size;

// $ATS-Loader-time: 2s;
// $ATS-Loader-halfTrans: $ATS-Loader-radius - $ATS-Loader-item-size/2;

// loader
.ats-loader-popup {
    padding: 0 !important;
    // background: none !important;
    width: $ATS-Loader-box-size !important;
    height: $ATS-Loader-box-size !important;
}
.ats-loader-htmlContainer{
    width: $ATS-Loader-box-size !important;
    height: $ATS-Loader-box-size !important;
    margin: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden !important;
    // background: none !important;
    .ats-loader {
        width: $ATS-Loader-circle-size !important;
        height: $ATS-Loader-circle-size !important;
        // border-radius: 50% !important;
        // border: 1px solid red !important;
        // box-sizing: border-box !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        .ats-loader-item {
            width: $ATS-Loader-item-size !important;
            height: $ATS-Loader-item-size !important;
            border-radius: 50% !important;
            background: #2988e6 !important;
            position: absolute !important;
            box-sizing: border-box !important;
        }
    }
    .ats-loader-0 {
        // animation: circleRotate $ATS-Loader-time infinite linear;
        animation: circleRotate var(--time) infinite linear;
        .ats-loader-item {
            transform-origin: center center;
        }
        .ats-loader-item0 {
            transform: translate(
                calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
                calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
            );
        }
        .ats-loader-item1 {
            transform: translate(
                calc($ATS-Loader-radius*sin(1*$ATS-Loader-item-deg)), 
                calc(-1 * $ATS-Loader-radius*cos(1*$ATS-Loader-item-deg))
            );
        }
        .ats-loader-item2 {
            transform: translate(
                calc($ATS-Loader-radius*sin(2*$ATS-Loader-item-deg)), 
                calc(-1 * $ATS-Loader-radius*cos(2*$ATS-Loader-item-deg))
            );
        }
        .ats-loader-item3 {
            transform: translate(
                calc($ATS-Loader-radius*sin(3*$ATS-Loader-item-deg)), 
                calc(-1 * $ATS-Loader-radius*cos(3*$ATS-Loader-item-deg))
            );
        }
        .ats-loader-item4 {
            transform: translate(
                calc($ATS-Loader-radius*sin(4*$ATS-Loader-item-deg)), 
                calc(-1 * $ATS-Loader-radius*cos(4*$ATS-Loader-item-deg))
            );
        }
        .ats-loader-item5 {
            transform: translate(
                calc($ATS-Loader-radius*sin(5*$ATS-Loader-item-deg)), 
                calc(-1 * $ATS-Loader-radius*cos(5*$ATS-Loader-item-deg))
            );
        }
        .ats-loader-item6 {
            transform: translate(
                calc($ATS-Loader-radius*sin(6*$ATS-Loader-item-deg)), 
                calc(-1 * $ATS-Loader-radius*cos(6*$ATS-Loader-item-deg))
            );
        }
        .ats-loader-item7 {
            transform: translate(
                calc($ATS-Loader-radius*sin(7*$ATS-Loader-item-deg)), 
                calc(-1 * $ATS-Loader-radius*cos(7*$ATS-Loader-item-deg))
            );
        }
    }
    .ats-loader-1 {
        .ats-loader-item0 {
            transform: translate(
                calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
                calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
            );
        }
        .ats-loader-item1 {
            animation: firstDot-1 var(--time) infinite linear;
        }
        .ats-loader-item2 {
            animation: secondDot-1 var(--time) infinite linear;
        }
        .ats-loader-item3 {
            animation: thirdDot-1 var(--time) infinite linear;
        }
        .ats-loader-item4 {
            animation: fourthDot-1 var(--time) infinite linear;
        }
        .ats-loader-item5 {
            animation: fifthDot-1 var(--time) infinite linear;
        }
        .ats-loader-item6 {
            animation: sixthDot-1 var(--time) infinite linear;
        }
        .ats-loader-item7 {
            animation: seventhDot-1 var(--time) infinite linear;
        }
    }
    .ats-loader-2 {
        .ats-loader-item0 {
            transform: translate(
                calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
                calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
            );
        }
        .ats-loader-item1 {
            animation: firstDot-2 var(--time) infinite linear;
        }
        .ats-loader-item2 {
            animation: secondDot-2 var(--time) infinite linear;
        }
        .ats-loader-item3 {
            animation: thirdDot-2 var(--time) infinite linear;
        }
        .ats-loader-item4 {
            animation: fourthDot-2 var(--time) infinite linear;
        }
        .ats-loader-item5 {
            animation: fifthDot-2 var(--time) infinite linear;
        }
        .ats-loader-item6 {
            animation: sixthDot-2 var(--time) infinite linear;
        }
        .ats-loader-item7 {
            animation: seventhDot-2 var(--time) infinite linear;
        }
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes firstDot-1 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    10%, 20%, 30%, 40%, 50%, 60%, 70% {
        transform: rotate(45deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes secondDot-1 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    20%, 30%, 40%, 50%, 60%, 70% {
        transform: rotate(90deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes thirdDot-1 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    30%, 40%, 50%, 60%, 70% {
        transform: rotate(135deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes fourthDot-1 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    40%, 50%, 60%, 70% {
        transform: rotate(180deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes fifthDot-1 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    50%, 60%, 70% {
        transform: rotate(225deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes sixthDot-1 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    60%, 70% {
        transform: rotate(270deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes seventhDot-1 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    70% {
        transform: rotate(315deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes firstDot-2 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    7%, 14%, 28%, 35%, 42%, 49%, 56% {
        transform: rotate(45deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes secondDot-2 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    14%, 28%, 35%, 42%, 49%, 56%, 63% {
        transform: rotate(90deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes thirdDot-2 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    28%, 35%, 42%, 49%, 56%, 63%, 70% {
        transform: rotate(135deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes fourthDot-2 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    35%, 42%, 49%, 56%, 63%, 70%, 77%  {
        transform: rotate(180deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes fifthDot-2 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    42%, 49%, 56%, 63%, 70%, 77%, 84% {
        transform: rotate(225deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes sixthDot-2 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    49%, 56%, 63%, 70%, 77%, 84%, 91% {
        transform: rotate(270deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}

@keyframes seventhDot-2 {
    0% {
        transform: rotate(0deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    56%, 63%, 70%, 77%, 84%, 91%, 98% {
        transform: rotate(315deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
    100% {
        transform: rotate(360deg) translate(
            calc($ATS-Loader-radius*sin(0*$ATS-Loader-item-deg)), 
            calc(-1 * $ATS-Loader-radius*cos(0*$ATS-Loader-item-deg))
        );
    }
}