@import "./app.scss";

body {
    margin: 0;
}

#app {
    width: $APPWidth;
    margin: auto;
}

.no_scroll_bar {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}

.no_scroll_bar::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}